@import "~bootstrap/less/bootstrap.less";
@import '~font-awesome/less/font-awesome.less';
@import "~nprogress/nprogress.css";
@import "~react-progress-2/main.css";
@import "./sb-admin-2.less";

.navbar-brand img {
  display: inline-block;
  height: 26px;
}

.page-header {
  margin-top: 0;

  h1 {
    margin-top: 10px;
  }
}

ol.breadcrumb {
  margin-top: 14px;
}