@import "~bootstrap/less/bootstrap.less";
@import '~font-awesome/less/font-awesome.less';
@import "~nprogress/nprogress.css";
@import "~react-progress-2/main.css";
@import "./sb-admin-2.less";

.navbar-brand img {
  display: inline-block;
  height: 26px;
}

.page-header {
  margin-top: 0;

  h1 {
    margin-top: 10px;
  }
}

ol.breadcrumb {
  margin-top: 14px;
}

.griddle {

  .griddle-settings-toggle > button {
    color: #337ab7;

    &:focus, &:hover {
      color: #23527c;
    }

    // .btn() !important;
    // .btn-default() !important;
  }

  .top-section {
    margin-bottom: 10px;
  }

  .griddle-settings {
    label {
      font-weight: normal;
    }
    select {
      padding: 2px;
      margin-left: 5px;
    }
  }
}

.form-horizontal .form-group {
  margin-right: 0px;
}

.company-tabs {
  .tab-content {
    border-top: transparent;
    border: 1px solid #eeeeee;
    padding: 10px;
  }
}

.custom-modal {
  width: 90%;
}

.menu-nav-pills {
  &:extend(.nav-pills all);

  padding-bottom: 10px;

  & li:first-child {
    padding-left: 0;

    & > a {
      padding-left: 0;
    }
  }

  li > a {
    &:focus, &:hover {
      background-color: transparent;
    }
  }

  span.h-seperate {
    height: 6px;
    width: 2px;
    margin: 0px 10px;
    border-left: 1px solid #e1e1e1;
    display: inline;
    position: relative;
    top: 8px;
  }
}
